<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to continue to Rails App</h1>
            <div class="account-wall">
                <img class="profile-img" src="http://guru-ce.github.io/assets/images/profile.png" alt="">
                <%= form_tag("/login", method: "post", id: "form_login", class: "form-signin") do %>
                <input type="text" name="text" class="form-control" placeholder="Email" required autofocus>
                <input type="password" name="pwd" class="form-control" placeholder="Password" required>
                <div class="error-message">
                  <%= @err %>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <% end %>
            </div>            
        </div>
    </div>
</div>
