<div class="jumbotron">
  <% if current_user %>
     <h3>Hello <%= current_user.name %></h3>
     <p>Looks like we have nothing selected yet to be sent to Salesforce.</p>
     <p>Let's start importing some data from RD Station. The first thing you should be doing is to be pulling your data by clicking on the button below.</p>
     <p><a class="btn btn-primary btn-lg" id="get-from-rd" href="/leadsrd" role="button">Get Leads from RD Station</a></p>
  <% else %>
     <h1>Hi there</h1>
     <p>Before we start you must be signed in using your Salesforce account.</p>
     <%= render 'home/appSettings' %>
     <p><a class="btn btn-primary btn-lg" id="sign_in" href="/auth/salesforce" role="button">Sign in with Salesforce</a></p>



  <% end %>
</div>
