<div class="jumbotron">
     <h3>Congratulations</h3>
     <p>The process successfully added <b><%= @totalImported%></b> new Leads into your Salesforce Leads List. </p>
     <p>Let's crack on and start making business!</p>
     <p><a class="btn btn-primary btn-lg" id="btnselectall" href="http://www.salesforce.com" role="button">Take me to Salesforce</a></p>
</div>
